<!DOCTYPE html>
<html>
  <head>
    <title>ClonDeTwitter</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>

  <div>
  <%= form_tag search_tweets_path, method: :get, class: "form-inline my-2 my-lg-0" do %>
  <%= text_field_tag :q, params[:q], placeholder: "Buscar tweets", class: "form-control mr-sm-2" %>
  <%= submit_tag "Buscar", class: "btn btn-outline-success my-2 my-sm-0" %>
<% end %>

  
  </div>
    <%= yield %>
  </body>
</html>
